*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #ffffff;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}
.wrapper {
  max-width: 800px;
  width: 100%;
}
.hero {
    border-radius: 14px;
    padding: 2rem;
    text-align: center;
    background: #ffffff;
    color: #111;
    font-family: 'Arial', sans-serif;
}
.hero-badge {
    font-size: 12px;
    color: #888;
    margin-bottom: 0.5rem;
}
.hero-pill {
    font-size: 12px;
    font-weight: 600;
    color: #888;
    margin-top: 15px;
    justify-content: center;
}
.cards-wrap {
  border: 1px solid #ebebeb;
  border-radius: 14px;
  padding: 20px;
  margin-bottom: 5px;
  margin-top: -5px;
  background:  #ebebeb;
}
.card-title{
    font-size: 12px;
    font-weight: 600;
    color: #111;
    margin-bottom: 0.5rem;
}
.card-subtitle {
    font-size: 10px;
    color: #888;
    margin-bottom: 0.5rem;
    justify-content: left;
}
.card-desc{
    font-size: 20px;
    color: #444;
    justify-content: left;
    display : flex;
    font-weight: bold;
}
.card-icon {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-end;
  margin-left: auto;
  margin-top: -25px;
}
.card-info {
    margin-right: 100px;
    justify-content: left;
}
.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.3rem;
}
.cards{
    border: 1px solid #ebebeb;
    border-radius: 14px;
    background-color: #ebebeb;
    padding: 20px;
}
.cards-title{
    font-size: 12px;
    font-weight: 600;
    color: #111;
}
.cards-desc{
    font-size: 20px;
    color: #444;
    justify-content: left;
    display : flex;
    margin-bottom: 30px;
}
.card-desc2{
    font-size: 20px;
    color: #676767;
    justify-content: left;
    display : flex;
    margin-bottom: 30px;
    font-weight: bold;
}
.card-wrap {
  margin-bottom: 10px;
  margin-top: -5px;
}

.stats {
  display: flex;
  gap: 2rem;
  padding: 24px;
  border: 1px solid #e8e8e8;
  border-radius: 12px;
  background: #e8e8e8;
  margin-bottom : 10px;
}
.stat {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.stat-number {
  font-size: 18px;
  font-weight: 600;
  color: #111;
}
.stat-label {
  font-size: 13px;
  color: #888;
}
.slide {
  display: none;
}

.slide.active {
  display: block;
}
.slider-controls {
  display: flex;
  margin-left: auto;
  margin-top: 10px;
}